doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title About us

    // Third Party CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet")

    // Customized CSS
    link(href="style.sass" rel="stylesheet")
  body
    section#home
      img#home_magician(src="../image/magician.png" alt="magician")
      img#home_bowl(src="../image/bowl.png" alt="bowl")
      img#home_smoke_left(src="../image/smoke-left-home.png" alt="smokeleft")
      img#home_smoke_right(src="../image/smoke.png" alt="smokeright")
      img#home_arrow(src="../image/arrow.png" alt="arrow")
      img#home_cat(src="../image/cat.png" alt="cat")
      img#home_freedom(src="../image/freedom.png" alt="freedom")
      img#home_meme(src="../image/meme.png" alt="meme")
      img#home_liver(src="../image/liver.png" alt="liver")
      img#home_workhard(src="../image/workhard.png" alt="workhard")

    section#person-base.transition.hidden
      img#person-base-bowl(src="../image/bowl.png" alt="bowl")
      img#person-base-img(src="../image/mamamaxinz.png" alt="mamamaxinz")
      img#person-base-smoke-left(src="../image/smoke-left-home.png" alt="smokeleft")
      img#person-base-smoke-right(src="../image/smoke.png" alt="smokeright")
      i#person-base-icon.massive.angle.left.icon
      #person-base-card
        h1#person-base-name NAME
        br
        div
          h2#person-base-trait-1 特質
          h2#person-base-trait-2 特質
          h2#person-base-trait-3 特質
        p#person-base-job Designer
        p#person-base-content ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

  // JavaScript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
  script(src="../index.js")
